# Topic 1: Data Exploration with Pandas
[source](https://mlcourse.ai/articles/topic1-exploratory-data-analysis-with-pandas/)

In [132]:
#prepare packages and more 

#code completion, click tab after starting
%config IPCompleter.greedy=True 

import numpy as np
import pandas as pd
pd.set_option('precision',2)

pd.get_option('display.max_rows',20)
#pd.options.display.float_format = '{:,.6f}'.format

60

In [133]:
#read data
df = pd.read_csv('BigML_Dataset_telecom_churn.csv')
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,No,Yes,25,265.100000,110,45.070000,197.400000,99,16.780000,244.700000,91,11.010000,10.000000,3,2.700000,1,False
1,OH,107,415,No,Yes,26,161.600000,123,27.470000,195.500000,103,16.620000,254.400000,103,11.450000,13.700000,3,3.700000,1,False
2,NJ,137,415,No,No,0,243.400000,114,41.380000,121.200000,110,10.300000,162.600000,104,7.320000,12.200000,5,3.290000,0,False
3,OH,84,408,Yes,No,0,299.400000,71,50.900000,61.900000,88,5.260000,196.900000,89,8.860000,6.600000,7,1.780000,2,False
4,OK,75,415,Yes,No,0,166.700000,113,28.340000,148.300000,122,12.610000,186.900000,121,8.410000,10.100000,3,2.730000,3,False

## Major Methods

In [134]:
#rows and columns of table
print(df.shape)

(3333, 20)

In [135]:
#print columns
print(df.columns)

Index(['State', 'Account length', 'Area code', 'International plan',
       'Voice mail plan', 'Number vmail messages', 'Total day minutes',
       'Total day calls', 'Total day charge', 'Total eve minutes',
       'Total eve calls', 'Total eve charge', 'Total night minutes',
       'Total night calls', 'Total night charge', 'Total intl minutes',
       'Total intl calls', 'Total intl charge', 'Customer service calls',
       'Churn'],
      dtype='object')

In [136]:
#more detail 
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3333 entries, 0 to 3332
Data columns (total 20 columns):
State                     3333 non-null object
Account length            3333 non-null int64
Area code                 3333 non-null int64
International plan        3333 non-null object
Voice mail plan           3333 non-null object
Number vmail messages     3333 non-null int64
Total day minutes         3333 non-null float64
Total day calls           3333 non-null int64
Total day charge          3333 non-null float64
Total eve minutes         3333 non-null float64
Total eve calls           3333 non-null int64
Total eve charge          3333 non-null float64
Total night minutes       3333 non-null float64
Total night calls         3333 non-null int64
Total night charge        3333 non-null float64
Total intl minutes        3333 non-null float64
Total intl calls          3333 non-null int64
Total intl charge         3333 non-null float64
Customer service calls    3333 non-null int64
Churn                     3333 non-null bool
dtypes: bool(1), float64(8), int64(8), object(3)
memory usage: 498.1+ KB
None

In [137]:
# convert churn to int64
df['Churn'] = df['Churn'].astype('int64')

In [138]:
# describe statistics of numerical columns
df.describe()

,Account length,Area code,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
count,"3,333.000000","3,333.000000","3,333.000000","3,333.000000","3,333.000000","3,333.000000","3,333.000000","3,333.000000","3,333.000000","3,333.000000","3,333.000000","3,333.000000","3,333.000000","3,333.000000","3,333.000000","3,333.000000","3,333.000000"
mean,101.064806,437.182418,8.099010,179.775098,100.435644,30.562307,200.980348,100.114311,17.083540,200.872037,100.107711,9.039325,10.237294,4.479448,2.764581,1.562856,0.144914
std,39.822106,42.371290,13.688365,54.467389,20.069084,9.259435,50.713844,19.922625,4.310668,50.573847,19.568609,2.275873,2.791840,2.461214,0.753773,1.315491,0.352067
min,1.000000,408.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,23.200000,33.000000,1.040000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,74.000000,408.000000,0.000000,143.700000,87.000000,24.430000,166.600000,87.000000,14.160000,167.000000,87.000000,7.520000,8.500000,3.000000,2.300000,1.000000,0.000000
50%,101.000000,415.000000,0.000000,179.400000,101.000000,30.500000,201.400000,100.000000,17.120000,201.200000,100.000000,9.050000,10.300000,4.000000,2.780000,1.000000,0.000000
75%,127.000000,510.000000,20.000000,216.400000,114.000000,36.790000,235.300000,114.000000,20.000000,235.300000,113.000000,10.590000,12.100000,6.000000,3.270000,2.000000,0.000000
max,243.000000,510.000000,51.000000,350.800000,165.000000,59.640000,363.700000,170.000000,30.910000,395.000000,175.000000,17.770000,20.000000,20.000000,5.400000,9.000000,1.000000

In [139]:
# describe non-numerical columns
df.describe(include=['object','bool'])

       State International plan Voice mail plan
count   3333               3333            3333
unique    51                  2               2
top       WV                 No              No
freq     106               3010            2411

In [140]:
# distribution of counts
df['Churn'].value_counts()

0    2850
1     483
Name: Churn, dtype: int64

In [141]:
# normalized distribution
df['Churn'].value_counts(normalize=True)

0   0.855086
1   0.144914
Name: Churn, dtype: float64

## Sorting

In [142]:
# example descending
df.sort_values(by='Total day charge',ascending=False)

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
365,CO,154,415,No,No,0,350.800000,75,59.640000,216.500000,94,18.400000,253.900000,100,11.430000,10.100000,9,2.730000,1,1
985,NY,64,415,Yes,No,0,346.800000,55,58.960000,249.500000,79,21.210000,275.400000,102,12.390000,13.300000,9,3.590000,1,1
2594,OH,115,510,Yes,No,0,345.300000,81,58.700000,203.400000,106,17.290000,217.500000,107,9.790000,11.800000,8,3.190000,1,1
156,OH,83,415,No,No,0,337.400000,120,57.360000,227.400000,116,19.330000,153.900000,114,6.930000,15.800000,7,4.270000,0,1
605,MO,112,415,No,No,0,335.500000,77,57.040000,212.500000,109,18.060000,265.000000,132,11.930000,12.700000,8,3.430000,2,1
975,DE,129,510,No,No,0,334.300000,118,56.830000,192.100000,104,16.330000,191.000000,83,8.590000,10.400000,6,2.810000,0,1
15,NY,161,415,No,No,0,332.900000,67,56.590000,317.800000,97,27.010000,160.600000,128,7.230000,5.400000,9,1.460000,4,1
1679,OK,82,510,No,No,0,329.800000,73,56.070000,208.300000,120,17.710000,267.100000,102,12.020000,10.600000,6,2.860000,0,1
2028,SD,93,510,No,No,0,328.100000,106,55.780000,151.700000,89,12.890000,303.500000,114,13.660000,8.700000,3,2.350000,1,1
197,TX,208,510,No,No,0,326.500000,67,55.510000,176.300000,113,14.990000,181.700000,102,8.180000,10.700000,6,2.890000,2,1
2412,WI,89,415,No,No,0,326.300000,112,55.470000,165.100000,110,14.030000,162.900000,97,7.330000,7.500000,1,2.030000,1,1
2824,OR,81,415,No,No,0,324.700000,48,55.200000,236.400000,82,20.090000,187.600000,78,8.440000,13.100000,5,3.540000,0,1
832,SC,87,408,No,No,0,322.500000,106,54.830000,204.600000,93,17.390000,186.200000,128,8.380000,9.400000,4,2.540000,2,1
2629,NH,141,415,No,Yes,32,322.400000,92,54.810000,283.200000,107,24.070000,209.500000,111,9.430000,6.700000,3,1.810000,1,1
3132,NC,161,415,No,No,0,322.300000,100,54.790000,230.400000,135,19.580000,241.500000,104,10.870000,7.800000,5,2.110000,2,1
1078,ME,80,408,No,No,0,322.300000,113,54.790000,222.000000,95,18.870000,162.800000,123,7.330000,6.700000,8,1.810000,0,1
901,CT,23,510,No,No,0,321.600000,107,54.670000,251.600000,115,21.390000,141.100000,158,6.350000,11.300000,3,3.050000,2,1
1334,KS,126,408,No,No,0,321.300000,99,54.620000,167.900000,93,14.270000,193.600000,106,8.710000,8.000000,4,2.160000,1,1
3322,MD,62,408,No,No,0,321.100000,105,54.590000,265.500000,122,22.570000,180.500000,72,8.120000,11.500000,2,3.110000,4,1
2572,MN,152,415,No,No,0,317.800000,60,54.030000,152.900000,100,13.000000,123.400000,63,5.550000,10.400000,7,2.810000,1,1
688,MN,13,510,No,Yes,21,315.600000,105,53.650000,208.900000,71,17.760000,260.100000,123,11.700000,12.100000,3,3.270000,3,0
815,KY,75,415,No,No,0,314.600000,102,53.480000,169.800000,86,14.430000,285.100000,100,12.830000,5.700000,3,1.540000,2,1
2696,MI,74,415,No,No,0,314.100000,86,53.400000,222.400000,99,18.900000,259.000000,121,11.660000,12.300000,5,3.320000,3,1
2259,NC,210,415,No,Yes,31,313.800000,87,53.350000,147.700000,103,12.550000,192.700000,97,8.670000,10.100000,7,2.730000,3,0
2267,MS,29,510,No,No,0,313.200000,103,53.240000,216.300000,151,18.390000,218.400000,106,9.830000,12.800000,4,3.460000,2,1
230,MD,93,408,Yes,No,0,312.000000,109,53.040000,129.400000,100,11.000000,217.600000,74,9.790000,10.500000,2,2.840000,0,1
2573,WV,124,415,No,No,0,312.000000,112,53.040000,180.000000,109,15.300000,168.600000,94,7.590000,12.800000,4,3.460000,1,1
534,LA,67,510,No,No,0,310.400000,97,52.770000,66.500000,123,5.650000,246.500000,99,11.090000,9.200000,10,2.480000,4,0
575,SD,114,415,No,Yes,36,309.900000,90,52.680000,200.300000,89,17.030000,183.500000,105,8.260000,14.200000,2,3.830000,1,0
2677,IA,44,415,No,No,0,308.600000,139,52.460000,150.800000,94,12.820000,198.700000,66,8.940000,7.300000,3,1.970000,4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2303,IN,205,510,No,No,0,49.900000,123,8.480000,150.700000,81,12.810000,188.200000,67,8.470000,10.100000,4,2.730000,2,0
2703,CT,162,408,No,No,0,49.200000,121,8.360000,143.900000,136,12.230000,203.000000,97,9.140000,12.100000,13,3.270000,1,0
535,NE,194,408,No,No,0,48.400000,101,8.230000,281.100000,138,23.890000,218.500000,87,9.830000,18.200000,1,4.910000,1,0
2173,KS,47,510,Yes,No,0,47.800000,120,8.130000,178.900000,123,15.210000,152.600000,96,6.870000,13.300000,7,3.590000,0,1
2158,FL,166,510,Yes,No,0,47.700000,89,8.110000,264.400000,95,22.470000,235.200000,97,10.580000,13.200000,3,3.560000,0,1
525,OK,176,408,No,No,0,47.400000,125,8.060000,167.800000,90,14.260000,163.100000,107,7.340000,10.500000,8,2.840000,2,0
1531,DE,138,510,Yes,No,0,46.500000,104,7.910000,186.000000,114,15.810000,167.500000,95,7.540000,9.600000,4,2.590000,4,1
523,MO,61,408,No,No,0,45.000000,108,7.650000,151.300000,74,12.860000,152.900000,94,6.880000,9.800000,6,2.650000,2,0
2996,VA,113,408,No,Yes,34,44.900000,63,7.630000,134.200000,82,11.410000,168.400000,118,7.580000,13.300000,3,3.590000,1,0
1742,HI,79,415,No,No,0,41.900000,124,7.120000,211.000000,95,17.940000,237.900000,55,10.710000,11.400000,5,3.080000,1,0
527,NJ,95,415,No,Yes,22,40.900000,126,6.950000,133.400000,90,11.340000,264.200000,91,11.890000,11.900000,7,3.210000,0,0
2707,RI,46,408,No,No,0,40.400000,105,6.870000,172.400000,83,14.650000,145.100000,89,6.530000,9.000000,2,2.430000,2,0
1461,SC,145,408,No,No,0,39.500000,78,6.720000,264.300000,106,22.470000,185.800000,90,8.360000,10.000000,6,2.700000,0,0
1687,CT,90,415,No,No,0,37.800000,80,6.430000,155.300000,105,13.200000,175.000000,111,7.880000,14.200000,5,3.830000,3,0
2241,WA,56,415,No,Yes,29,37.700000,115,6.410000,144.100000,111,12.250000,226.600000,101,10.200000,4.900000,3,1.320000,1,0
1130,PA,122,415,No,No,0,35.100000,62,5.970000,180.800000,89,15.370000,251.600000,58,11.320000,12.700000,2,3.430000,1,0
741,NE,66,415,No,No,0,34.000000,133,5.780000,278.600000,61,23.680000,129.600000,120,5.830000,11.500000,3,3.110000,0,0
685,CO,63,415,No,Yes,32,30.900000,113,5.250000,187.000000,113,15.900000,230.800000,101,10.390000,8.600000,7,2.320000,1,0
3174,SC,36,408,No,Yes,43,29.900000,123,5.080000,129.100000,117,10.970000,325.900000,105,14.670000,8.600000,6,2.320000,2,0
2124,KS,43,415,No,No,0,27.000000,117,4.590000,160.900000,97,13.680000,279.500000,96,12.580000,10.700000,3,2.890000,3,0
1076,WY,53,415,No,Yes,27,25.900000,119,4.400000,206.500000,96,17.550000,228.100000,64,10.260000,6.500000,7,1.760000,1,0
1621,SC,138,510,No,Yes,21,19.500000,149,3.320000,140.900000,109,11.980000,179.700000,111,8.090000,7.900000,1,2.130000,0,0
3046,MI,110,510,No,No,0,18.900000,92,3.210000,258.400000,81,21.960000,109.600000,74,4.930000,14.800000,4,4.000000,1,0
2252,NH,148,408,No,No,0,17.600000,121,2.990000,161.700000,125,13.740000,203.100000,82,9.140000,10.600000,6,2.860000,1,0
1052,OR,98,415,Yes,No,0,12.500000,67,2.130000,256.600000,90,21.810000,169.400000,88,7.620000,7.700000,9,2.080000,1,0
1986,WI,70,415,No,No,0,7.900000,100,1.340000,136.400000,83,11.590000,156.600000,89,7.050000,12.100000,1,3.270000,0,0
2753,OH,134,415,No,No,0,7.800000,86,1.330000,171.400000,100,14.570000,186.500000,80,8.390000,12.900000,2,3.480000,2,0
2736,OK,127,510,No,Yes,27,2.600000,113,0.440000,254.000000,102,21.590000,242.700000,156,10.920000,9.200000,5,2.480000,3,0
1397,VT,101,510,No,No,0,0.000000,0,0.000000,192.100000,119,16.330000,168.800000,95,7.600000,7.200000,4,1.940000,1,0
1345,SD,98,415,No,No,0,0.000000,0,0.000000,159.600000,130,13.570000,167.100000,88,7.520000,6.800000,1,1.840000,4,1

In [143]:
# can sort multiple columns
df.sort_values(by=['Churn','Total day charge'],ascending=[True,False]).head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
688,MN,13,510,No,Yes,21,315.600000,105,53.650000,208.900000,71,17.760000,260.100000,123,11.700000,12.100000,3,3.270000,3,0
2259,NC,210,415,No,Yes,31,313.800000,87,53.350000,147.700000,103,12.550000,192.700000,97,8.670000,10.100000,7,2.730000,3,0
534,LA,67,510,No,No,0,310.400000,97,52.770000,66.500000,123,5.650000,246.500000,99,11.090000,9.200000,10,2.480000,4,0
575,SD,114,415,No,Yes,36,309.900000,90,52.680000,200.300000,89,17.030000,183.500000,105,8.260000,14.200000,2,3.830000,1,0
2858,AL,141,510,No,Yes,28,308.000000,123,52.360000,247.800000,128,21.060000,152.900000,103,6.880000,7.400000,3,2.000000,1,0

## Index and retrieving data

In [144]:
# column example, proportion of churned?
df['Churn'].mean()

0.14491449144914492

In [145]:
# row example by filtering, using boolean indexing and avg values of numerical features for churned users
df[df['Churn']==1].mean()

Account length           102.664596
Area code                437.817805
Number vmail messages      5.115942
Total day minutes        206.914079
Total day calls          101.335404
Total day charge          35.175921
Total eve minutes        212.410145
Total eve calls          100.561077
Total eve charge          18.054969
Total night minutes      205.231677
Total night calls        100.399586
Total night charge         9.235528
Total intl minutes        10.700000
Total intl calls           4.163561
Total intl charge          2.889545
Customer service calls     2.229814
Churn                      1.000000
dtype: float64

In [146]:
# during day minutes
df[df['Churn']==1]['Total day minutes'].mean()

206.91407867494823

In [147]:
# max len of intl calls among loyal (Churn = 0) who do not have intl plan
df[(df['Churn']==0) & (df['International plan']=='No')]['Total intl minutes'].max()

18.9

In [148]:
# use iloc to index by number, loc for name
df.loc[0:5,'State':'Area code']

  State  Account length  Area code
0    KS             128        415
1    OH             107        415
2    NJ             137        415
3    OH              84        408
4    OK              75        415
5    AL             118        510

In [149]:
df.iloc[0:5,0:3]

  State  Account length  Area code
0    KS             128        415
1    OH             107        415
2    NJ             137        415
3    OH              84        408
4    OK              75        415

In [150]:
# reverse indexing
df[-1:]

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
3332,TN,74,415,No,Yes,25,234.400000,113,39.850000,265.900000,82,22.600000,241.400000,77,10.860000,13.700000,4,3.700000,0,0

## Applying Function to Cells, Columns, Rows

In [151]:
# apply function to each column (numpy's max)
df.apply(np.max)

State                            WY
Account length                  243
Area code                       510
International plan              Yes
Voice mail plan                 Yes
Number vmail messages            51
Total day minutes        350.800000
Total day calls                 165
Total day charge          59.640000
Total eve minutes        363.700000
Total eve calls                 170
Total eve charge          30.910000
Total night minutes      395.000000
Total night calls               175
Total night charge        17.770000
Total intl minutes        20.000000
Total intl calls                 20
Total intl charge          5.400000
Customer service calls            9
Churn                             1
dtype: object

In [152]:
# can also apply to each row, using "lambda" to specify a new function and boolean index
df[df['State'].apply(lambda state: state[0] == 'W')].head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
9,WV,141,415,Yes,Yes,37,258.600000,84,43.960000,222.000000,111,18.870000,326.400000,97,14.690000,11.200000,5,3.020000,0,0
26,WY,57,408,No,Yes,39,213.000000,115,36.210000,191.100000,112,16.240000,182.700000,115,8.220000,9.500000,3,2.570000,0,0
44,WI,64,510,No,No,0,154.000000,67,26.180000,225.800000,118,19.190000,265.300000,86,11.940000,3.500000,3,0.950000,1,0
49,WY,97,415,No,Yes,24,133.200000,135,22.640000,217.200000,58,18.460000,70.600000,79,3.180000,11.000000,3,2.970000,1,0
54,WY,87,415,No,No,0,151.000000,83,25.670000,219.700000,116,18.670000,203.900000,127,9.180000,9.700000,3,2.620000,5,1

In [153]:
# map method is used to replace values in column by passing dictionary {old:new}
d = {'No' : False,'Yes' : True}
df['International plan'] = df['International plan'].map(d)
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,False,Yes,25,265.100000,110,45.070000,197.400000,99,16.780000,244.700000,91,11.010000,10.000000,3,2.700000,1,0
1,OH,107,415,False,Yes,26,161.600000,123,27.470000,195.500000,103,16.620000,254.400000,103,11.450000,13.700000,3,3.700000,1,0
2,NJ,137,415,False,No,0,243.400000,114,41.380000,121.200000,110,10.300000,162.600000,104,7.320000,12.200000,5,3.290000,0,0
3,OH,84,408,True,No,0,299.400000,71,50.900000,61.900000,88,5.260000,196.900000,89,8.860000,6.600000,7,1.780000,2,0
4,OK,75,415,True,No,0,166.700000,113,28.340000,148.300000,122,12.610000,186.900000,121,8.410000,10.100000,3,2.730000,3,0

In [154]:
# same with replace method
df = df.replace({'Voice mail plan': d})
df.head()

,State,Account length,Area code,International plan,Voice mail plan,Number vmail messages,Total day minutes,Total day calls,Total day charge,Total eve minutes,Total eve calls,Total eve charge,Total night minutes,Total night calls,Total night charge,Total intl minutes,Total intl calls,Total intl charge,Customer service calls,Churn
0,KS,128,415,False,True,25,265.100000,110,45.070000,197.400000,99,16.780000,244.700000,91,11.010000,10.000000,3,2.700000,1,0
1,OH,107,415,False,True,26,161.600000,123,27.470000,195.500000,103,16.620000,254.400000,103,11.450000,13.700000,3,3.700000,1,0
2,NJ,137,415,False,False,0,243.400000,114,41.380000,121.200000,110,10.300000,162.600000,104,7.320000,12.200000,5,3.290000,0,0
3,OH,84,408,True,False,0,299.400000,71,50.900000,61.900000,88,5.260000,196.900000,89,8.860000,6.600000,7,1.780000,2,0
4,OK,75,415,True,False,0,166.700000,113,28.340000,148.300000,122,12.610000,186.900000,121,8.410000,10.100000,3,2.730000,3,0

## Grouping

In general, grouping works by: 
```
df.groupby(by=grouping_column)[columns_to_show].function()
```

In [155]:
# groupby groups into rows
columns_to_show = ['Total day minutes', 'Total eve minutes', 'Total night minutes']

df.groupby(['Churn'])[columns_to_show].describe(percentiles=[])

      Total day minutes                                                      \
                  count       mean       std      min        50%        max
Churn
0          2,850.000000 175.175754 50.181655 0.000000 177.200000 315.600000
1            483.000000 206.914079 68.997792 0.000000 217.600000 350.800000

      Total eve minutes                                                       \
                  count       mean       std       min        50%        max
Churn
0          2,850.000000 199.043298 50.292175  0.000000 199.600000 361.800000
1            483.000000 212.410145 51.728910 70.900000 211.300000 363.700000

      Total night minutes
                    count       mean       std       min        50%        max
Churn
0            2,850.000000 200.133193 51.105032 23.200000 200.250000 395.000000
1              483.000000 205.231677 47.132825 47.400000 204.800000 354.900000

In [161]:
# same thing, but with agg() at the end for multiple single functions
df.groupby(['Churn'])[columns_to_show].agg([np.mean, np.std,np.min, np.max])

      Total day minutes                               Total eve minutes  \
                   mean       std     amin       amax              mean
Churn
0            175.175754 50.181655 0.000000 315.600000        199.043298
1            206.914079 68.997792 0.000000 350.800000        212.410145

                                     Total night minutes                      \
            std      amin       amax                mean       std      amin
Churn
0     50.292175  0.000000 361.800000          200.133193 51.105032 23.200000
1     51.728910 70.900000 363.700000          205.231677 47.132825 47.400000


            amax
Churn
0     395.000000
1     354.900000

## Summary tables